body {
font-family: 'Raleway', sans-serif;
margin: 0px;
padding: 0px;
width:100%;
max-width: 100%;
height: auto
}
title {
font-family:'Righteous', cursive;
}
.row {
display: flex;
justify-content: space-evenly;
}
.rectangle{
color:black;
line-height:30px;
text-align:center;
 width:400px;
 height:350px;
 background:#FCF9F9;
box-shadow: 1px 1px 12px #555;
border-top-left-radius : 30px 30px;
border-top-right-radius : 30px 30px;
border-bottom-left-radius : 30px 30px;
border-bottom-right-radius : 30px 30px;
}
h1{
text-align: center;
font-family:'Righteous', cursive;
color:rgb(49, 38, 204);
}
ul {
padding-left: 100px;
list-style-type: none;
margin: 0px;
padding: 5px;
overflow: hidden;
background-color:rgb(49, 38, 204);
position: fixed;
top: 0;
width: 100%;
font-size :200%;
text-align: center;
font-family: 'Acme', sans-serif;
z-index: 1;
box-shadow: 1px 1px 12px #555;
}
b {
font-size :30%;
color: #3C160E;
font-family: 'Raleway', italic;
margin: 50px;
 font-style: italic;
}
li {
font-size:85%;
float: left;
padding-left:50px;
padding-top:15px;
padding-bottom:0px;}
li a {
display: block;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
}
IMG.logo{
padding-right:30px;
margin-bottom:-30px;
margin-top:-20px;
margin-left:-30px;
}
.bottom-left {
font-size :1000%;
left:auto;
color:rgb(49, 38, 204);
font-family:'Righteous', cursive;
line-height: 10%;
margin-bottom: -150px;
}
.pp {
margin-bottom:-5%;
}
h2 {
text-align: center;
font-size: 200%;
}
h3 {
text-align: center;
font-size: 200%;
line-height: 7px;
}
h5 {
 font-size: 100%;
font-style: italic;
line-height: 1%;
}
h6 {
font-size: 100%;
font-style: bold;
}
.bleu {
background:rgb(49, 38, 204);
box-shadow: 1px 1px 12px #555;
}
.blanc{
background:#FCF9F9;
}
.gris{
background:#2C2B2B;
color:white;
}
.price{
font-size:100px;
color:grey;
font-family: 'Bangers', cursive;
text-align:center;
 width:400px;
 height:60px;
margin:auto;
margin-top:-20px;
margin-left:-150px;
}
.Merton{
margin-top:180px;
margin-left:-230px;
}
.livre {
margin-right:0px;
margin-left:-140px;
width:100%;
}
IMG.achetez{
width:200%;
}
IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
img.cercle {
 background-size: cover;
  width: 300px;
  height: 250px;
}
.lectures{
text-align: center;
font-family:'Righteous', cursive;
color:white;
font-size: 50px;
}
.columns{
margin-left:5em;
margin-right:5em;
text-align: center;
}
img.lectures{
  width:30%;
border-top-left-radius : 33px 33px;
border-top-right-radius : 33px 33px;
border-bottom-left-radius : 33px 33px;
border-bottom-right-radius : 33px 33px;
 width: 100px;
height: 130px;
}
.acheter {
padding: 15px;
width: 200px;
background:rgb(49, 38, 204);
color: white;
font-family:'Righteous', cursive;
font-size:200%;
border-top-left-radius : 30px 30px;
border-top-right-radius : 30px 30px;
border-bottom-left-radius : 30px 30px;
border-bottom-right-radius : 30px 30px;
 margin-top:100px;
margin-left:-60px;
}
a.bouton1 {
padding: 10px 30px;
background: white;
color: black; border-top-left-radius : 30px 30px;
border-top-right-radius : 30px 30px;
border-bottom-left-radius : 30px 30px;
border-bottom-right-radius : 30px 30px;
}
a.bouton1:hover {
background: orange;
}
